# Resource Manager configuration
#
# For a description of the syntax of this configuration file,
# see https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
# NOTE: We ONLY support "bool"
#
# Copyright (C) 2017-2020 Texas Instruments Incorporated - http://www.ti.com/
# ALL RIGHTS RESERVED
#

menu "Resource Manager Feature Support"

config RM 
	bool "Enable Resource Manager"
	help
	 Enable support for Resource Manager functions

config RM_LOCAL_SUBSYSTEM_REQUESTS
	bool "Enable Resource Manager Local Subsystem Requests"
	depends on RM
	help
	 Enable support for Resource Manager using local subsystem calls for some services

config RM_IRQ
	bool "Enable IRQ support in Resource Manager"
	depends on RM
	help
	 Enable support for Resource Manager IRQ functions

config INTERRUPT_AGGREGATOR_UNMAPPED_EVENTS
	bool
	depends on RM_IRQ
	default n if SOC_AM6
	default n if SOC_J721E
	default y if SOC_AM64
	help
	 Enable Interrupt Aggregator unmapped event support

config RM_RA
	bool "Enable Ring Accelerator support in Resource Manager"
	depends on RM
	help
	 Enable support for Resource Manager Ring Accelerator functions

config RM_RA_DMSS_RING
	bool "Enable support for DMSS dual rings"
	depends on RM_RA
	default n if SOC_AM6
	default n if SOC_J721E
	default y if SOC_AM64
	help
	 Enable support for DMSS dual rings

config RM_RA_NAV_RING
	bool "Enable support for Navigator rings"
	depends on RM_RA
	default y if SOC_AM6
	default y if SOC_J721E
	default y if SOC_AM64
	help
	 Enable support for Navigator rings

config RM_UDMAP
	bool "Enable UDMAP support in Resource Manager"
	depends on RM
	help
	 Enable support for Resource Manager UDMAP functions

config UDMAP_CHANNEL_BURST_SIZE
	bool "Enable UDMAP Tx & Rx channel burst size configuration parameter"
	depends on RM_UDMAP
	default n if SOC_AM6
	help
	 Enable UDMAP Tx & Rx channel burst size configuration parameter

config UDMAP_TX_CHANNEL_TEARDOWN_TYPE
	bool "Enable UDMAP Tx channel teardown type configuration parameter"
	depends on RM_UDMAP
	default n if SOC_AM6
	help
	 Enable UDMAP Tx channel teardown type configuration parameter

config UDMAP_UDMA
	bool "Enable support for Navigator UDMAP channel types"
	depends on RM_UDMAP
	default y if SOC_AM6
	default y if SOC_J721E
	default n if SOC_AM64
	help
	 Enable support for Navigator UDMAP channel types

config UDMAP_BCDMA
	bool "Enable support for DMSS BCDMA channel types"
	depends on RM_UDMAP
	default n if SOC_AM6
	default n if SOC_J721E
	default y if SOC_AM64
	help
	 Enable support for DMSS BCDMA channel types

config UDMAP_PKTDMA
	bool "Enable support for DMSS PKTDMA channel types"
	depends on RM_UDMAP
	default n if SOC_AM6
	default n if SOC_J721E
	default y if SOC_AM64
	help
	 Enable support for DMSS PKTDMA channel types

config RM_PROXY
	bool "Enable Proxy support in Resource Manager"
	depends on RM
	help
	 Enable support for Resource Manager Proxy functions

endmenu
