# Resource Manager Ring Accelerator configuration
#
# For a description of the syntax of this configuration file,
# see https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
# NOTE: We ONLY support "bool"
#
# Copyright (C) 2018-2020 Texas Instruments Incorporated - http://www.ti.com/
# ALL RIGHTS RESERVED
#

config RM_RA 
	bool "Enable Ring Accelerator support in Resource Manager"
	depends on RM
	help
	 Enable support for Resource Manager Ring Accelerator functions

config RM_RA_DMSS_RING
	bool "Enable support for DMSS dual rings"
	depends on RM_RA
	default n if SOC_AM6
	default n if SOC_J721E
	help
	 Enable support for DMSS dual rings

config RM_RA_NAV_RING
	bool "Enable support for Navigator rings"
	depends on RM_RA
	default y if SOC_AM6
	default y if SOC_J721E
	help
	 Enable support for Navigator rings
