# Resource Manager IRQ configuration
#
# For a description of the syntax of this configuration file,
# see https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
# NOTE: We ONLY support "bool"
#
# Copyright (C) 2017-2020 Texas Instruments Incorporated - http://www.ti.com/
# ALL RIGHTS RESERVED
#

menu "Interrupt Management Feature Support"

config RM_IRQ 
	bool "Enable IRQ support in Resource Manager"
	depends on RM
	help
	 Enable support for Resource Manager IRQ functions

source "user/rm/drivers/ia/Kconfig"

endmenu
