# Resource Manager PSI-L configuration
#
# For a description of the syntax of this configuration file,
# see https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
# NOTE: We ONLY support "bool"
#
# Copyright (C) 2018 Texas Instruments Incorporated - http://www.ti.com/
# ALL RIGHTS RESERVED
#

config RM_PSIL 
	bool "Enable PSIL support in Resource Manager"
	depends on RM
	help
	 Enable support for Resource Manager PSIL functions
